@model ProfileEntry

<dl>
    <div class="title-cont">
        <dd>@Model.Title</dd>
        <div style="text-align:end">
            <form asp-action="DeleteProfileEntry" method="post">
                <input type="hidden" asp-for="Id" name="id" />
                <a asp-action="EditProfileEntry" asp-route-id="@Model?.Id" class="btn"><i class="fas fa-edit"></i></a>
                <button class="transparent-btn" type="submit">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>
    </div>
    <dd>@Model.Organization</dd>
    <dd>@Model.Location</dd>
    <dd>
        @(Model.StartDate?.ToString("MMMM dd, yyyy")) - @(Model.IsCurrent ? "Present" : Model.EndDate?.ToString("MMMM dd, yyyy"))
    </dd>
    <dd>@Html.Raw(Model.Details)</dd>
</dl>