@model ResumeBuilder.Models.ViewModels.VMResumeBasicInfo
@{
    //Display Version
    string? resumeId = null;
    if (ViewData.ContainsKey("ResumeId") && ViewData["ResumeId"] != null)
        resumeId = ViewData["ResumeId"]!.ToString();
}

<div id="resume-info" class="d-flex flex-row">
    <div style="flex:1">
        <div class="custom-section">
            <div class="title">Job Title</div>
            <div class="text">@Model.JobTitle</div>
        </div>
        <div class="custom-section">
            <div class="title">Skills</div>
            @if (Model.Skills!=null)
            {
                var skills = Model.SkillsObject;
                if (skills != null)
                {
                    if (skills.TechnicalSkills != null && skills.TechnicalSkills.Length > 0)
                    {
                        <div class="sub-title">Technical Skills</div>
                        <ul>
                            @foreach (var skill in skills.TechnicalSkills)
                            {
                                <li>@skill</li>
                            }
                        </ul>
                    }
                    if (skills.SoftSkills != null && skills.SoftSkills.Length > 0)
                    {
                        <div class="sub-title">Soft Skills</div>
                        <ul>
                            @foreach (var skill in skills.SoftSkills)
                            {
                                <li>@skill</li>
                            }
                        </ul>
                    }
                }
            }
        </div>
        <div class="custom-section">
            <div class="title">Description</div>
            <div class="text">@Model.Description</div>
        </div>
    </div>
    <div class="text-end">
        <button class="btn-icon" id="edit-btn" type="button" style="font-size:1.5rem;"><i class="fas fa-edit"></i></button>
    </div>
</div>

<style>
    .editable-field {
        border-bottom: var(--bs-border-width) solid var(--bs-border-color);
    }

    .title {
        font-weight: 600;
    }

    .sub-title{
        font-weight:500;
    }

    .text {
        font-weight: 400;
    }

    .custom-section {
        margin: 1em 0;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#resume-info").find("#edit-btn").click(function () {
            $.ajax({
                url: '@Url.Action("ResumeBasicInfoForm")',
                type: 'GET',
                data:{ resumeId:'@resumeId'},
                success: function (response) {
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        });

    });
</script>
