@model ResumeBuilder.Models.ViewModels.VMPersonalInfo

@{
    //Display Version
    string? context = null;
    if (ViewData.ContainsKey("Context") && ViewData["Context"] != null)
        context = ViewData["Context"]!.ToString();
    string? resumeId = null;
    if (ViewData.ContainsKey("ResumeId") && ViewData["ResumeId"] != null)
        resumeId = ViewData["ResumeId"]!.ToString();

    List<AdditionalContact>? contacts = Model.Contacts;    
}

<div id="personal-info" class="d-flex flex-row">
    <div style="flex:1">
        <div class="custom-section">
            <div class="title">First Name</div>
            <div class="text">@Model.FirstName</div>
        </div>
        <div class="custom-section">
            <div class="title">Last Name</div>
            <div class="text">@Model.LastName</div>
        </div>
        <div class="custom-section">
            <div class="title">Email</div>
            <div class="text">@Model.Email</div>
        </div>
        <div class="custom-section">
            <div class="title">Phone Number</div>
            <div class="text">@Model.PhoneNumber</div>
        </div>
        <div class="custom-section">
            <div class="title">Address</div>
            <div class="text">@Model.Address</div>
        </div>
        @if (contacts != null)
        {
            foreach (var item in contacts)
            {
                <div class="custom-section">
                    <div class="title">@item.Name</div>
                    <div class="text">@item.Value</div>
                </div>
            }
        }
    </div>
    <div class="text-end">
        <button class="btn-icon" id="edit-btn" type="button" style="font-size:1.5rem;"><i class="fas fa-edit"></i></button>
    </div>
</div>

<style>
    .editable-field {
        border-bottom: var(--bs-border-width) solid var(--bs-border-color);
    }

    .title {
        font-weight: 600;
    }

    .text {
        font-weight: 400;
    }

    .custom-section {
        margin: 1em 0;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#personal-info").find("#edit-btn").click(function () {
            let endpoint = '@Url.Action("PersonalInfoForm")';
            if ('@context' == 'Resume') {
                endpoint = endpoint.concat("?resumeId=@resumeId");
            }
            $.ajax({
                url: endpoint,
                type: 'GET',
                success: function (response) {

                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        });
    });

</script>
