@model ResumeBuilder.Models.ViewModels.VMProfileEntry

<div id="profile-entry-@Model.Id">
    <dl>
        <div class="title-cont">
            <dd>
                <div class="d-flex flex-row">
                    <h4>@Model.Title</h4>
                    <div class="text-end" style="flex:1">
                        <button type="button" class="btn-icon" id="edit-btn" style="font-size:1.5rem;"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn-icon" id="delete-btn" style="font-size:1.5rem;"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </div>
            </dd>            
        </div>
        <dd>@Model.Organization</dd>
        <dd>@Model.Location</dd>
        <dd>
            @(Model.StartDate?.ToString("MMMM dd, yyyy")) - @(Model.IsCurrent ? "Present" : Model.EndDate?.ToString("MMMM dd, yyyy"))
        </dd>
        <dd>@Html.Raw(Model.Details)</dd>
    </dl>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        const parent = $('@("#profile-entry-" + Model.Id.ToString())');

        $(parent).find("#edit-btn").click(function () {
            $.ajax({
                url: '@Url.Action("ProfileEntryForm")',
                type: 'GET',
                data: { id: '@Model.Id', actionId:'@((int)FormActions.Edit)' },
                success: function (response) {

                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        });

        $(parent).find("#delete-btn").click(function () {
            $.ajax({
                url: '@Url.Action("ProfileEntry")',
                type: 'DELETE',
                data: { id: '@Model.Id' },
                success: function (response) {
                    $(parent).remove();
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        });

    });
</script>