@model ResumeBuilder.Models.ViewModels.VMProfileEntry

@{
    //Display Version
    string? context = null;
    if (ViewData.ContainsKey("Context") && ViewData["Context"] != null)
        context = ViewData["Context"]!.ToString();
    string? resumeId = null;
    if (ViewData.ContainsKey("ResumeId") && ViewData["ResumeId"] != null)
        resumeId = ViewData["ResumeId"]!.ToString();
}

<div id="profile-entry-@Model.Id">
    <dl>
        <div class="title-cont">
            <dd>
                <div class="d-flex flex-row">
                    <h4>@Model.Title</h4>
                    <div class="text-end" style="flex:1">
                        <button type="button" class="btn-icon" id="edit-btn" style="font-size:1.5rem;"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn-icon" id="delete-btn" style="font-size:1.5rem;"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </div>
            </dd>
        </div>
        <dd>@Model.Organization</dd>
        <dd>@Model.Location</dd>
        <dd>
            @(Model.StartDate?.ToString("MMMM dd, yyyy")) - @(Model.IsCurrent ? "Present" : Model.EndDate?.ToString("MMMM dd, yyyy"))
        </dd>
        <dd>@Html.Raw(Model.Details)</dd>
    </dl>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    $(document).ready(function () {
        const parent = $('@("#profile-entry-" + Model.Id.ToString())');

        $(parent).find("#edit-btn").click(function () {
            let endpoint = '@Url.Action("ProfileEntryForm")';
            if ('@context' == 'Resume') {
                endpoint = endpoint.concat("?id=@Model.Id&resumeId=@resumeId");
            }
            else{
                endpoint = endpoint.concat("?id=@Model.Id");
            }
            $.ajax({
                url: endpoint,
                type: 'GET',
                success: function (response) {

                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        });

        $(parent).find("#delete-btn").click(function () {
            let endpoint = '@Url.Action("ProfileEntry")';
            if ('@context' == 'Resume') {
                endpoint = endpoint.concat("?id=@Model.Id&resumeId=@resumeId");
            }
            else{
                endpoint = endpoint.concat("?id=@Model.Id");
            }
            $.ajax({
                url: endpoint,
                type: 'DELETE',
                success: function (response) {
                    $(parent).remove();
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        });

    });
</script>