@model ResumeBuilder.Models.ProfileInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";

    var educationList = Model?.ProfessionalRecord?.Where(x => x.Category == EntryCategory.Education).OrderByDescending(x => x.StartDate);
    var workExperienceList = Model?.ProfessionalRecord?.Where(x => x.Category == EntryCategory.WorkExperience).OrderByDescending(x => x.StartDate);
}

<h1>Your Profile</h1>

<div class="info-section">
    <div class="info-section-title">
        <h4>Basic Info</h4>
        <a asp-action="EditPersonalInfo" asp-route-id="@Model?.AccountId">
            <i class="fas fa-edit"></i>
        </a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.LinkedInURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.LinkedInURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.WebsiteURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.WebsiteURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.GitHubAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.GitHubAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Email)
        </dd>
    </dl>

    <br />
    <div class="info-section-title">
        <h4>Education Info</h4>
        <a asp-action="AddProfileEntry" asp-route-category="@((int)(EntryCategory.Education))">
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>
    <hr />
    @if (educationList != null)
    {
        <dl class="row">
            @foreach (var item in educationList)
            {
                @Html.DisplayFor(model => item)
            }
        </dl>
    }

    <br />
    <div class="info-section-title">
        <h4>Work Experience Info</h4>
        <a asp-action="AddProfileEntry" asp-route-category="@((int)(EntryCategory.WorkExperience))">
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>
    <hr />
    @if (workExperienceList != null)
    {
        <dl class="row">
            @foreach (var item in workExperienceList)
            {
                @Html.DisplayFor(model => item)
            }
        </dl>
    }
</div>
<div>    
    <a asp-action="Index">Back to List</a>
</div>
