@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h1>Your Profile</h1>

<div class="info-section">
    <div class="info-section-title">
        <div id="personal-info-placeholder" class="w-100"></div>
    </div>
    <hr />
    <br />
    <div class="info-section-title">
        <h4>Education Info</h4>
        <button id="add-education" class="btn">
            <i class="fas fa-plus-circle"></i>
        </button>
    </div>
    <hr />
    <dl id="education-list" class="row">
    </dl>
    <br />
    <div class="info-section-title">
        <h4>Work Experience Info</h4>
        <button id="add-experience" class="btn">
            <i class="fas fa-plus-circle"></i>
        </button>
    </div>
    <hr />
    <dl id="experience-list" class="row">
    </dl>
</div>
<button id="open-modal-btn" type="button" class="btn btn-primary" style="display:none" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @* <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> *@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@
    <script type="text/javascript">
        $(document).ready(function () {
            // Personal Info
            loadPersonalInfo();

            function loadPersonalInfo() {
                const actionId = @((int)FormActions.None);
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("PersonalInfoForm")',
                    data: { actionId: actionId },
                    success: function (result) {
                        const container = $('#personal-info-placeholder');
                        $(container).empty();
                        $(container).append(result);                        
                    },
                    error: function () {
                        alert("Error trying to retrieve Entries");
                    }
                })
            }

            // Profile Entries

            loadProfileEntries(@((int)EntryCategory.Education));
            loadProfileEntries(@((int)EntryCategory.WorkExperience));

            $("#add-education").click(function () {
                openEntryForm(@((int)EntryCategory.Education));                
            })

            $("#add-experience").click(function () {
                openEntryForm(@((int)EntryCategory.WorkExperience));                
            })

            function loadProfileEntries(categoryId) {
                const actionId = @((int)FormActions.None);
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("ProfileEntriesView")',
                    data: { category: categoryId, actionId: actionId },
                    success: function (result) {
                        let container;
                        if (categoryId == @((int)(EntryCategory.Education)))
                            container = "#education-list";
                        else container = "#experience-list";
                        $(container).empty();
                        $(container).append(result);
                        const containerJs = $(container)[0];
                        let entries = containerJs.getElementsByClassName('profile-entry-container');
                        for (let i = 0; i < entries.length; i++) {
                            entries[i].classList.add('card');
                            entries[i].classList.add('mb-2');
                        }
                    },
                    error: function () {
                        alert("Error trying to retrieve Entries");
                    }
                })
            }

            function openEntryForm(categoryId) {
                const actionId = @((int)FormActions.Create);
                $.ajax({                    
                    url: '@Url.Action("ProfileEntryForm")',
                    type: 'GET',
                    data: { category: categoryId, actionId: actionId },
                    success: function (result) {
                    },
                    error: function () {
                        alert("Error trying to retrieve AddProfileEntry");
                    }
                })
            }            

            $(document).ajaxSuccess(function (event, xhr, settings) {                                
                if (settings.url.includes('@Url.Action("ProfileEntryForm")')) {
                    console.log('GetProfileEntryForm');
                    var result = xhr.responseText;
                    console.log(result);
                    $(".modal-body").empty();
                    $(".modal-body").append(result);
                    $(".modal-body").find("#cancel-btn").click(function () {
                        hideForm()
                    });
                    $("#open-modal-btn").trigger("click");
                }
                else if (settings.url.includes('@Url.Action("ProfileEntry")')) {
                    var response = xhr.responseJSON;
                    loadProfileEntries(response.category);
                    hideForm();
                }
            });
            
            function hideForm() {
                $(".btn-close").trigger("click");
            }


        });

    </script>
}