@{
    ViewData["Title"] = "Details";
    var entriesNames = Enum.GetNames(typeof(EntryCategory));
    var entriesValues = Enum.GetValues<EntryCategory>();
}

<h1>Your Profile</h1>

<div class="info-section">
    <div class="info-section-title">
        <div id="personal-info-placeholder" class="w-100"></div>
    </div>
    <hr/>
    <br/>
    @foreach (var item in entriesValues)
    {
        <div class="info-section-title">
            <h4>@ProfileEntry.GetCategoryName(item)</h4>
            <button id="add-@item" class="btn">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
        <hr/>
        <dl id="@item-list" class="row">
        </dl>
        <br/>
    }
</div>
<button id="open-modal-btn" type="button" class="btn btn-primary" style="display:none" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @* <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> *@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Personal Info
            loadPersonalInfo();

            function loadPersonalInfo() {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("PersonalInfoView")',
                    success: function (result) {
                        const container = $('#personal-info-placeholder');
                        $(container).empty();
                        $(container).append(result);
                    },
                    error: function () {
                        alert("Error trying to retrieve Entries");
                    }
                })
            }

            // Profile Entries
            const entryValues = @Html.Raw(Json.Serialize(entriesValues));
            const entryNames = @Html.Raw(Json.Serialize(entriesNames));
            const containers = [];
            for (const entry of entryValues) {
                const containerId = "#" + entryNames[entry] + "-list";
                containers.push(containerId);
                $("#add-" + entryNames[entry]).click(function () {
                    openEntryForm(entry);
                })
            }

            loadAllEntries();

            function loadAllEntries() {
                for (const entry of entryValues) {
                    loadProfileEntries(entry, containers[entry]);
                }
            }

            function loadProfileEntries(category, container) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("ProfileEntriesView")',
                    data: {category: category},
                    success: function (result) {
                        $(container).empty();
                        $(container).append(result);
                        const containerJs = $(container)[0];
                        let entries = containerJs.getElementsByClassName('profile-entry-container');
                        for (let i = 0; i < entries.length; i++) {
                            entries[i].classList.add('card');
                            entries[i].classList.add('mb-2');
                        }
                    },
                    error: function () {
                        alert("Error trying to retrieve Entries");
                    }
                })
            }

            function openEntryForm(category) {
                $.ajax({
                    url: '@Url.Action("ProfileEntryForm")',
                    type: 'GET',
                    data: {category: category},
                    success: function (result) {
                    },
                    error: function () {
                        alert("Error trying to retrieve AddProfileEntry");
                    }
                })
            }

            //Listener

            $(document).ajaxSuccess(function (event, xhr, settings) {
                const url = new URL(settings.url, window.location.origin); // Parse the URL
                const path = url.pathname; // Extract the path (e.g., /PersonalInfoForm)

                if (path === '@Url.Action("PersonalInfoForm")') {//Load PersonalInfoForm to edit it
                    showContentOnModal(xhr.responseText);
                } else if (path === '@Url.Action("PersonalInfo")') {//Save changes made on the PersonalInfoForm
                    loadPersonalInfo();
                    hideForm();
                } else if (path === '@Url.Action("ProfileEntryForm")') {//Load ProfileEntryForm to edit it
                    showContentOnModal(xhr.responseText);
                } else if (path === '@Url.Action("ProfileEntry")') {//Save changes made on the ProfileEntryForm
                    loadAllEntries();
                    hideForm();
                }
            });

            function showContentOnModal(content) {
                $(".modal-body").empty();
                $(".modal-body").append(content);
                $(".modal-body").find("#cancel-btn").click(function () {
                    hideForm();
                });
                $("#open-modal-btn").trigger("click");
            }

            function hideForm() {
                $(".btn-close").trigger("click");
            }

        });

    </script>
}