@model ResumeBuilder.Models.ProfileEntry

<h1>@ViewData["Title"] Entry</h1>
<hr />
<form asp-action="@ViewData["Action"]" asp-route-category="@ViewData["EntryCategory"]" id="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.EditorFor(model => model)
    <br />
    <div class="form-group">
        <input type="button" value="Save" class="btn btn-primary" id="submit-btn" />
        <input type="button" value="Cancel" class="btn btn-secondary" id="cancel-btn" />
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    $(function () {
        $("#submit-btn").click(function (event) {
            if ($("#form").valid()) {
                var formData = $("#form").serialize();
                $.ajax({
                    url: '@Url.Action("UpdatePersonalInfo")',
                    type: "PUT",
                    data: formData,
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
                });
            }
        });
    });

</script>